---
name: Release openqasm3_parser
on:
  push:
    tags:
      - '*'

jobs:
  publish_crates:
    name: Publish openqasm3_parser crates
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        crate: [oq3_lexer, oq3_parser, oq3_syntax, oq3_source_file, oq3_semantics]
      max-parallel: 1

    steps:
      - uses: actions/checkout@v4
      - uses: dtolnay/rust-toolchain@stable
      - name: Run cargo publish
        run: |
          cd crates/${{ matrix.crate }}
          cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
      - run: date
      - run: sleep 120
      - run: date
