[package]
name = "oq3_syntax"
description = "Comment and whitespace preserving parser for the OpenQASM 3 language"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
authors.workspace = true
readme.workspace = true
keywords.workspace = true
categories.workspace = true
repository.workspace = true

[lib]
doctest = false

[dependencies]
# external crates
cov-mark = "2.0.0-pre.1"
either = "1.7.0"
itertools = "0.10.5"
rowan = "0.15.11"
rustc-hash = "1.1.0"
once_cell = "1.17.0"
indexmap = "2.0.0"
smol_str.workspace = true
triomphe.workspace = true
# local crates
oq3_lexer.workspace = true
oq3_parser.workspace = true
stdx.workspace = true

[dev-dependencies]
rayon = "1.6.1"
expect-test = "1.4.0"
proc-macro2 = "1.0.47"
quote = "1.0.20"
ungrammar = "1.16.1"
clap = { version = "4.0", features = ["derive"] }
# local crate
oq3_sourcegen.workspace = true
